{% extends "core/base.html" %}

{% block title %}
<title>Index</title>
{% endblock %}

{% block content %}
{% load static %}


<div class="container-fluid">
    {% for i in items %}
    <div class='form-row'>
        <div class='form-group col-md-4'>
        </div>
        <div class='form-group col-md-4'>
                <div class="card m-1 card-custom-bg">
                    <h6 class="card-title text-center">{{i.description}}</h6>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted text-center">{{i.propertyReference}}</h6>
                        <p class="card-text text-center">
                        <p class='text-center'>Seized / Found location: {{i.seizedLocation}}</p>
                        <p class='text-center'>Seized on: {{i.seizedDate}} at {{i.seizedTime}}</p>
                        {% if i.itemimage_set.all %}
                            <img class="card-img-top" src="{{i.itemimage_set.all.0.thumbnail.url}}" alt="Card image cap">
                        {% else %}
                            <img class="card-img-top" src="/media/home/tolca/property/media/no_image.jpg" alt="Card image cap">
                        {% endif %}

                        </p>

                    </div>
                    <a href="/{{i.id}}" class="btn btn-primary">Details</a>
                </div>
        </div>
        <div class='form-group col-md-4'>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}